.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .menu { height: 48px; }

  .app-links {
    flex-shrink: 1;
  }
  .app-routing {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
