<div class="mainMenu">
<!--  <button mat-button [matMenuTriggerFor]="docs">Documentation</button>-->
<!--  <mat-menu #docs="matMenu">-->
<!--    <button mat-menu-item [matMenuTriggerFor]="docsRaces">Races</button>-->
<!--    <button mat-menu-item [matMenuTriggerFor]="docsSystem">System</button>-->
<!--  </mat-menu>-->
<!--  <mat-menu #docsRaces="matMenu">-->
<!--    <button mat-menu-item routerLink="/docs/races/angels" routerLinkActive="active">Angels</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/demons" routerLinkActive="active">Demons</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/gods" routerLinkActive="active">Gods</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/humans" routerLinkActive="active">Humans</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/humans/hunters" routerLinkActive="active">Hunters</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/humans/witches" routerLinkActive="active">Witches</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/natives" routerLinkActive="active">Natives</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/vampires" routerLinkActive="active">Vampires</button>-->
<!--    <button mat-menu-item routerLink="/docs/races/werewolves" routerLinkActive="active">Werewolves</button>-->
<!--  </mat-menu>-->
<!--  <mat-menu #docsSystem="matMenu">-->
<!--    <button mat-menu-item routerLink="/docs/system/analyze" routerLinkActive="active">Analyze</button>-->
<!--  </mat-menu>-->
  <button mat-button routerLink="/videogames" routerLinkActive="active">Video Games</button>
<!--  <button mat-button [matMenuTriggerFor]="testZone">Testing Zone</button>-->
<!--  <mat-menu #testZone="matMenu">-->
<!--    <button mat-menu-item routerLink="/test/battle" routerLinkActive="active">Battle</button>-->
<!--  </mat-menu>-->
</div>
